.footer{
    background: #43333E;
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__incorporated{
        font-size: 28px;
        font-weight: 400;
        line-height: 32px;
        text-transform: uppercase;
        margin-bottom: 21px;
    }
    &__number{
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;
    }
    &__adress{
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 39px;
    }
    &__copyright{
        color: #919294;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }
}