.header{
    height: 101px;
    background: #8E4575;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    &__basket{
        cursor: pointer;
        display: flex;
        align-items: center;
        span{
            font-size: 18px;
            font-weight: bold;
            color: white;
            display: block;
            margin:  0 0 0 5px;
        }
    }
}

